
%h4= t('everyones_bookmarks_for')
%h2= @bookmark_url.title
%p.url= @bookmark_url.url

%h2= t('history')

%p
  Saved #{pluralize(@bookmark_url.total_saves, 'time')}

- @bookmarks.each do |bookmark|
  .bookmark
    .add_date= bookmark.created_at.strftime('%d %b %y')
    .data
      .tags
        - bookmark.tags.each do |tag|
          = link_to tag, user_tag_path(bookmark.user, tag)
      %h4.title= link_to bookmark.user.username, "/#{bookmark.user.username}"
