%h1  Relish

%p
  Your bookmarks are so delicious, kinda like 
  %span.class
    relish.
  

#{link_to_your_bookmarks}

%div#tabs
  %ul
    %li= link_to t('recent'), "/?view=recent"
    %li= link_to t('popular'), "/?view=popular"

= render :partial=>'urls/item', :collection=>@bookmarks, :as=>:bookmark

= will_paginate(@bookmarks)

.extra-actions
  = link_to t('.new_bookmark'), new_bookmark_path
  %a.bookmarklet{ :href => "javascript:" + File.read(Rails.root.join("public", "bookmarklet", "0.1", "relish.js")) }
    Post to Relish (Bookmarklet)