.bookmark
  .add_date= bookmark.add_date.strftime('%d %b %y')
  .data
    .actions
      - if bookmark.private?
        = image_tag('lock.png', :title=>'Private')
      - else
        .user_count= link_to bookmark.total_saves, url_path(bookmark.url_id)     
    %h4.title= link_to bookmark.title, bookmark.url
    .tags
      - bookmark.tags.each do |tag|
        = link_to tag, user_tag_path(current_user, tag)
  
    .via= via_url(bookmark.url) 

    - if can? :update, bookmark
      .admin
        = link_to t('edit'), edit_bookmark_path(bookmark)
        = link_to t('delete'), bookmark_path(bookmark), :confirm => "Are you sure?", :method => :delete